.App {
  text-align: center;
}

.menuItems, 
.cartItems {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 20px 5%;
  /* flex-direction: column; */
}

img {
  width: 100%;
}

