.App {
  text-align: center;
}

.menuItems {
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin: 20px 5%;
  /* flex-direction: column; */
}

img {
  width: 100%;
}

.menuItems div {
  /* display: flex; */
  /* flex-direction: column; */
  /* display: inline-block; */
}

.menuItems div > * {
  /* display: inline-block; */
}
