.App {
  text-align: center;
}

.menuItems {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.menuItems div {
  /* display: flex; */
  /* flex-direction: column; */
  /* display: inline-block; */
}

.menuItems div > * {
  /* display: inline-block; */
}
